
/db
/incremental_db
/Design Files/db
/Design Files/incremental_db/compiled_partitions
/Design Files/incremental_db
/Design Files/simulation
/Design Files/work
/Design Files/work
/Design Files/work
/Design Files/work
*.rpt
/Pipelined_multiplier_with_BIST/Design Files/incremental_db
/Pipelined_multiplier_with_BIST/Design Files/incremental_db
/Pipelined_multiplier_with_BIST/Design Files/incremental_db
/Pipelined_multiplier_with_BIST/Design Files/db
